.page-container {
  padding: 0 40px 40px 40px;
  background-color: #111111;
  display: flex;
  justify-content: center;
}


.page-innerContainer {
  width: 100%;
  display: flex;
  margin-top: -54px;
  justify-content: center;
}

.page-innerContainer > div {
  opacity: 0;
  animation: entry 800ms forwards;
  transform: translateY(10px);
}

.page-innerContainer >div:nth-child(1) { 
  animation-delay: 300ms;
}

.page-innerContainer >div:nth-child(2) { 
  animation-delay: 350ms;
}


@keyframes entry {
	0% { 
		opacity: 0;
	}
	100% {
    opacity: 1;
    transform: translateY(-10px);
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 768px) {
  .page-container {
    padding: 0 20px 20px 20px;
  }

  .page-innerContainer {
    flex-direction: column;
  }
}

@media only screen and (max-width : 1024px) {
  .page-container {
    padding: 0 20px 20px 20px;
  }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}