.header-container {
  padding: 0 40px;
	background-color: #000000;
  border-bottom: 1px solid #333333;
  display: flex;
  justify-content: center;
}

.header-inner-container {
  width: 770px;
	padding: 80px 0 100px 0;
	background-image: url(https://res.cloudinary.com/ds24tivvl/image/upload/v1619416018/Cloudworks/Group_22.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

.header-inner-container h1 {
  opacity: 0;
  animation: entry-header 600ms forwards;
  animation-delay: 200ms ;
  transform: translateY(10px);
}
.header-inner-container p {
  opacity: 0;
  animation: entry-description 600ms forwards;
  animation-delay: 250ms;
  transform: translateY(10px);
}


@keyframes entry-header {
	0% { 
		opacity: 0;
	}
	100% {
    opacity: 1;
    transform: translateY(-10px);
	}
}


@keyframes entry-description {
	0% { 
		opacity: 0;
	}
	100% {
    opacity: 0.6;
    transform: translateY(-10px);
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 768px) {
  .header-container {
    padding: 0 20px;
  }

  .header-inner-container {
    width: 100%;
    flex-direction: column;
  }
}


@media only screen and (min-width : 768px) and (max-width: 1024px) {
  .header-inner-container {
    width: 730px;
  }
}
