.workload-list-container {
	width: 450px;
	background: #000000;
	border: 1px solid #333333;
	box-sizing: border-box;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	height: 600px;
	overflow-y: scroll;
}

.list-header {
	margin-top: 0;
	padding: 24px;
	justify-content: space-between;
	border-bottom: 1px solid #333333;
	display: flex;
	position: sticky;
	top: 0;
	background: black;
	z-index: 99999;
	background: #000000;
	box-shadow: 0px 10px 13px #000000;
}

.list-container {
	display: flex;;
}

.workload-list {
	display: flex; 
	flex-direction: column-reverse;
	padding: 20px 24px 24px 24px;
}
.cancelled-text {
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	color: red;
	opacity: 0.7;
}

.empty-list {
	margin-top: 40px;
	text-align: center;
}