body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
	background-color:black;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.margin-0 {
	margin: 0;
}

hr {
	background-color: #333333;
	border-color: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

p {
  opacity: 0.6;
}